@charset "utf-8";

/* 초기설정 */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style: none;}
a {text-decoration: none; color: #333;}
img {vertical-align: middle;} 
body {font-family: Pretendard,'Noto Sans KR', sans-serif; line-height: 1.5;
background-color: #111;}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.left {float: left;}
.right {float: right;}


/* =====films===== */
.films {
    width: 100vw;
    margin-bottom: 70px;
}
.films .inner {
    max-width: 1264px;
    margin: 0 auto;
    position: relative;
}
/* title */
.films .inner .fi-title {
    margin-bottom: 24px;
    font-size: 44px;
    font-weight: 700;
    color: #fff;
}

/* list-top (카테고리 탭메뉴) */
.films .inner .list-top {
    margin-bottom: 27px;
}
.films .inner .list-top .tab-nav {
    font-size: 0;
}
.films .inner .list-top .tab-nav > li {
    display: inline-block;
    padding-bottom: 5px;
    padding-right: 8px;
}
.films .inner .list-top .tab-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    font-size: 15px;
    border-radius: 36px;
    transition: all 0.2s;
    cursor: pointer;
    color: #fff;
}
.films .inner .list-top .tab-nav > li > a:hover {
    border-color: #fff;
}
/* jquery로 추가할 class */
.films .inner .list-top .tab-nav > li > a.active {
    background-color: #fff;
    color: #000;
}

/* films-content */
.films .inner .fi-content {}
.films .inner .fi-content .fi-list {
    display: flex;
    flex-wrap: wrap;
    width: 1280px;
    margin-left: -8px;
}
.films .inner .fi-content .fi-list .box {
    width: 240px;
    margin: 0 8px;
    padding-bottom: 40px;
}
.films .inner .fi-content .fi-list .box .thumb {
    display: block;
    overflow: hidden;
    margin-bottom: 12px;
    border-radius: 4px;
    height: 0;
    padding-bottom: 56.25%;
}
.films .inner .fi-content .fi-list .box .thumb > a {
    background: #000;
    display: block;
    height: 135px;
    width: 240px;
}
.films .inner .fi-content .fi-list .box .thumb > a > img {
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
    vertical-align: middle;
}
.films .inner .fi-content .fi-list .box .subject {
    font-size: 17px;
    font-weight: 600;
    color: #fff;
}

/* 전체보기 */
.films .inner .more {
    position: absolute;
    top: 20px;
    right: 0;
    display: flex;
    align-items: center;
}
.films .inner .more > a {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px 5px 0;
    background: url('../images/cmm/arrow_small.svg') no-repeat 100% 50%;
}